.container {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(./);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 30px;
}
body {
  background-image: url(./bg.jpg);
  background-size: cover;

  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#num {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  width: 300px;
  font-size: 200px;
}

#inc {
  height: 50px;
  width: 100px;
  border: 2px solid black;
  margin-left: 100px;
  border-radius: 10px;
  background-color: rgba(5, 164, 5, 0.449);
  color: white;
  font-size: larger;
}
#dec {
  height: 50px;
  width: 100px;
  border: 2px solid black;
  margin-left: 100px;
  border-radius: 10px;
  background-color: rgba(162, 26, 8, 0.692);
  color: white;
  font-size: larger;
}
.con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-direction: column;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.btn button:hover {
  box-shadow: 10px 10px 10px rgb(77, 77, 77);
  transition: 200ms;
}
h1 {
  margin-top: 200px;
  font-size: 50px;
  text-decoration: border solid;
}
#rec {
  height: 50px;
  width: 100px;
  border: 2px solid black;
  margin-left: 100px;
  border-radius: 10px;
  background-color: rgba(56, 56, 102, 0.579);
  color: white;
  font-size: larger;
}
